.halfweight{
grid-template: left;
    
    margin-left: 5%;
    padding-left: 2%;
}
.halfweight img{
width: 100%;
}
.firstname{
    color:orange;
}
    .sec {
        color: blue;
    }
    .second{
        color: rgb(51, 51, 202);
    }
    body{
        font-family: 'Oswald', sans-serif;
    }
    